@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

:root {
    --ff-primary: "Manrope", "Inter", Roboto, Arial, sans-serif;
    --ff-secondary: "Inter", Roboto, Arial, sans-serif;
    --primary-color: #fe0002;
    --prima-col-var-1: #b10001;
    --prima-col-var-2: #ff4e4f;
    --prima-col-var-3: #ffb1b2;
    --prima-col-var-4: #ffe4e5;
    --prima-col-var-5: #fff7f7;
}

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    font-size: 16px;
}

body {
    font-family: var(--ff-primary);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
h1,h2,h3,h4,h5,h6,p,span{
    color: #290000;
}

.container {
    width: 100%;
    height: 100%;
    max-width: 1366px;
    margin-left: auto;
    margin-right: auto;
}

.container-xl {
    width: 100%;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
}

.height-100 {
    height: 100%;
}

.pb-1 {
    padding-bottom: 1rem;
}

.pb-2 {
    padding-bottom: 1.5rem;
}

.pb-3 {
    padding-bottom: 2rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

// display grid
.d-grid {
    display: grid;
}

.grid-col-auto-fit-250 {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.grid-col-auto-fit-350 {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.grid-col-2 {
    grid-template-columns: repeat(2, 1fr);
}

.grid-col-3 {
    grid-template-columns: repeat(3, 1fr);
}

.col-span-2 {
    grid-column: span 2;
}

.grid-row-2 {
    grid-template-rows: repeat(2, 1fr);
}

.grid-row-3 {
    grid-template-rows: repeat(3, 1fr);
}

.grid-row-4 {
    grid-template-rows: repeat(4, 1fr);
}

.row-span-2 {
    grid-row: span 2;
}

.d-flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

.items-center {
    place-items: center;
}

.gap-1 {
    gap: 1rem;
}

.gap-2 {
    gap: 1.25rem;
}

.gap-3 {
    gap: 1.5rem;
}

.gap-4 {
    gap: 1.75rem;
}

.gap-5 {
    gap: 2rem;
}

.gap-6 {
    gap: 2.25rem;
}

.gap-7 {
    gap: 2.5rem;
}

.gap-8 {
    gap: 2.75rem;
}

.gap-9 {
    gap: 3rem;
}

.form {
    padding: 25px;
    width: 100%;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--prima-col-var-4);
    border-radius: 8px;

    .form-group {
        width: 100%;
        display: flex;
        flex-direction: column;
        @supports (margin-block: 15px) {
            margin-block: 15px;
        }
        margin-top: 15px;
        margin-bottom: 15px;
        label {
            font-size: 1.25rem;
            font-weight: 600;
            letter-spacing: 1px;
        }
    }
}
.f-input {
    font-family: inherit;
    font-size: 1rem;
    padding: 1rem;
    letter-spacing: 1px;
    border: 1px solid var(--prima-col-var-3);
    border-radius: 3px;
    @supports (margin-block: 10px) {
        margin-block: 10px;
    }
    margin-top: 10px;
    margin-bottom: 10px;
    &:focus {
        outline-color: var(--prima-col-var-2);
    }
}

input[type="button"] {
    cursor: pointer;
    padding: 15px;
    border: 1px solid transparent;
    background-color: #fff;
    text-transform: uppercase;
    margin-block: 5px;
    text-decoration: none;
    letter-spacing: 1px;
    font-family: "Inter";
    border-radius: 3px;
    transition: all 0.5s ease;
    font-size: 1.25rem;
    &:hover {
        opacity: 0.8;
    }
}

.btn {
    cursor: pointer;
    padding: 15px;
    border: 1px solid transparent;
    background-color: #fff;
    text-transform: uppercase;
    margin-block: 5px;
    text-decoration: none;
    letter-spacing: 1px;
    font-family: "Inter";
    border-radius: 3px;
    transition: all 0.5s ease;
    font-size: 1.25rem;
    &:hover {
        opacity: 0.8;
    }
}

.btn-submit {
    cursor: pointer;
    font-size: 1.25rem;
    text-transform: uppercase;
    font-weight: 600;
    background-color: var(--primary-color);
    color: #fff;
    transition: all 0.5s ease;
    &:hover {
        background-color: var(--prima-col-var-1);
    }
}

.login-view {
    height: 700px;
    max-height: 700px;
}

.error {
    color: #fff;
    font-size: 1rem;
    background-color: var(--prima-col-var-1);
    padding: 15px;
    font-weight: bold;
}

.absolute {
    position: absolute;
    z-index: 10;
}

header {
    border-bottom: 2px solid var(--primary-color);
    background-color: var(--prima-col-var-5);
}

.submenu-cat {
    .submenu-cat_wrapper {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        .menu-cat {
            cursor: pointer;
            background-color: #fff;
            box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
            .menu-cat_cards {
                text-decoration: none;
                color: #290000;
                transition: color 0.5s ease;
                img {
                    width: 100%;
                    height: 204px;
                    object-fit: cover;
                    object-position: center;
                }
                h3 {
                    font-family: "Inter";
                    font-size: 1.25rem;
                    font-weight: 600;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                    padding: 15px;
                    opacity: 0.8;
                }
                &:hover {
                    color: #ff0000;
                    img {
                        opacity: 0.7;
                    }
                }
            }
        }
    }
}
